<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <span class="navbar-text">
                ,<h1>Burger Time!</h1>
                ,<p>Make the Burgers. Devour the Burgers!</p>
                <h2>Make your Burger</h2>
            </span>
        </div>
    </nav>
    <form class="row row-cols-lg-auto g-3 align-items-center"></form>
    <div class="col-12">
        <label class="visually-hidden" for="inlineFormSelectPref">Preference</label>
        <select class="form-select" id="inlineFormSelectPref">
            <option selected>Choose...</option>
            <option value="1">Hamburger</option>
            <option value="2">Cheeseburger</option>
            <option value="3">Veggieburger</option>
        </select>
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
    </form>
</body>

</html>